body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Header Section */

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 64px;

}

.navigation-container {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 8px 256px 100px 256px;
    gap: 32px;

}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 16px;

}

a {
    text-decoration: none;
}

a, .hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
    flex-shrink: 0;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    margin-top: 8px;
    border-radius: 8px;
    padding: 4px 16px;
    border: none;
    font-weight: bolder;
}

.hero {
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 256px 24px 256px;
    gap: 32px;
}

.hero-text {
    /* width: 500px; */
    max-width: 500px;
}

.placeholder {
    background-color: gray;
    align-self: stretch;
    flex: 1;
    text-align: center;
    min-width: 200px;
}

/* Information Section */

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    /* padding-top: 48px;
    padding-bottom: 48px; */
    padding: 48px 256px 48px 256px;
    text-align: center;
}

.info-cards {
    display: flex;
    gap: 52px;

    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 52px;
}

.card {
   max-width: 175px;
}

.card-image {

            width: 175px; 
            height: 175px; 
            padding: 1rem; 
            box-sizing: border-box; 
            border: 4px solid #3882f6;
            border-radius: 16px;
}

.card-text {
    max-width: 170px;
    text-align: center;
}

/* Quote Section */

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
    padding-top: 52px;

}

.quote-name {
    font-size: 28px;
    text-align:right;
    font-weight: bolder;
    
}

.quote {
    padding-bottom: 52px;
}

/* Call to action section */

.action-section {
    display: flex;
    padding-top: 52px;
    padding-bottom: 52px;
    justify-content: center;
}

.call-to-action {
    background-color: #3882f6;
    border-radius: 8px;
}

.call {
    padding: 32px 120px;
    display: flex;
    color: #f9faf8;
    gap: 150px;
    flex-wrap: wrap;
}

.call-header {
    font-size: larger;
    font-weight: bolder;
}

.call button {
    margin-top: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 4px 16px;
    border: 2px solid #f9faf8;
    font-weight: bolder;
}

/* Footer */

.footer {
    background-color: #1F2937;
    padding-top: 32px;
    padding-bottom: 32px;
}

p {
    color: #f9faf8;
    text-align: center;
}
