body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.navigation-container {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 16px 128px 24px 128px;

}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
}

a, .hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}


